body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.columnAboutDONA {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.cardAboutDONA {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section-AboutDONA {

    /*margin: auto;*/
    /*padding: 20px;*/
    /*text-align: center;*/
    /*background-color: #474e5d;*/
    /*color: white;*/
    /*border-radius: 25px;*/
    /*width: 33%;*/
    /*height: 33%;*/


    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.containerAboutDONA {
    padding: 0px;
    height : auto;
}

.containerAboutDONA::after, .rowAboutDONArow::after {
    content: "";
    clear: both;
    display: table;
}

.titleAboutDONA {
    color: grey;
}





@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}