body {
  color: var(--clr-gray);
  margin: 2rem;
}

.header {
  text-align: center;
  background-image: url("././images/background.jpg");
  background-size: 100%;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: auto;
}

.a {
  color: #ffffff;
}

.btn{
  margin-right: 25px;
  margin-left: 25px;
  display: inline-block;
  padding: 5px 10px;
  border: grey 1px solid;
  color: grey;
  font-size: 1.3rem;
  line-height: 1em;
  border-radius: var(--radius);
  opacity: 1;
}

.btn:hover {
  color: white;
  background: rgb(86, 174, 233);
}

.h1 {
  font-size: 70px;
}

.image {
  margin: 40px 0px 0px 0px;
  max-height: 150px;
  max-width: 250px;
  clip-path: circle(80px at center);
}

.image2 {
  margin: 0px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  max-height: 50px;
  max-width: 150px;
}

.ul {
  padding: 5px;
  background: rgba(255, 255, 255, 0.70);
}

.li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

/* /////////////////////////////////////////////// */

:root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1.5rem;
}

.SearchButton {
  display: table-column;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 5%;
  background-color: white;
}
.buttons_group{
  margin-left: 40.5%;
}

.input_search {
  display: table-column;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 46%;
  background-color: white;
}



.banner-img {
  position: absolute;
  background-image: url("././images/banner.png");
  height: 12rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 25%;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.button {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background: rgb(86, 174, 233);
  cursor: pointer;
}

.button:hover {
  color: white;
  background: grey;
}

/* //////////////Login/////////////// */

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #949bac;
  padding: 2rem;
  border: 2px solid hsl(0, 0%, 0%);
  margin-top :5%;
  margin-bottom:10%;
  margin-right:35%;
  margin-left:39%;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: groove;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}

/* //////////////Login/////////////// */

/* //////////////Dashboard/////////////// */

.dashboard {
  margin-top: -10%;
  margin-bottom: -23%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 1rem;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
}

/* //////////////Dashboard/////////////// */

/* //////////////User/////////////// */
body {
  height: 100%;
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/6e/32/87/6e32878542a4a6b86e640204d951fbff.jpg);
  height: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user_h1{
  color: rgb(0, 255, 0);
}

div.App_dash {
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: 15px;
  width: 90%;
  height: 95%;
  border-radius: 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  column-count: 2;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

div.group_dash {
  vertical-align: middle;
  margin: 0.5em;
  height: 32px;

}


.label_dash {
  margin: 0px;

}

h1_dash {
  display: compact;
  font-size: large;
  margin: 10em 0.8em;
  vertical-align: top;
}

h2_dash {
  display: inline;
  font-weight: bold;
  font-size: medium;
  margin: inherit;
}

button_dash {
  border: 1px solid darkgray;
  background-color: lightblue;
  text-align: center;
  border-radius: 4px;
  padding: 0px 1.25em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);

}
.btn-group-dash button{
  border: 1px solid darkgray;
  background-color: lightblue;
  text-align: center;
  border-radius: 4px;
  padding: 0px 1.25em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
  cursor: pointer; /* Pointer/hand icon */
  margin: 10px;
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group-dash button:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.356);
  cursor: pointer;
}
button_dash:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.356);
  cursor: pointer;
}

/* //////////////User/////////////// */

/* //////////////Register/////////////// */

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #949bac;
  padding: 2rem;
  border: 2px solid hsl(0, 0%, 0%);
  margin-top :5%;
  margin-bottom:10%;
  margin-right:35%;
  margin-left:39%;
}
.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.register__google {
  background-color: #4285f4;
}
.register div {
  margin-top: 7px;
}

/* //////////////Register/////////////// */

/* //////////////Reset/////////////// */

.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset__container {
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #949bac;
  padding: 2rem;
  border: 2px solid hsl(0, 0%, 0%);
  margin-top :5%;
  margin-bottom:10%;
  margin-right:35%;
  margin-left:39%;
}
.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.reset div {
  margin-top: 7px;
}



/* //////////////Reset/////////////// */

/* //////////////Contact/////////////// */

.contactmessage
{
  overflow-y: auto;
  padding: 0px 0px 80px 0px;
  text-align: left;
  width: 300px;
  height: 150px;
  overflow-wrap: break-word;
  border: 1px solid black;
  border-radius:10px;
  resize: none;
}

.form {
  color:white;
  text-align: left;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: #949bac;
  display: flex;
  list-style-type: none;
  width: 25%;
  margin-top :2%;
  margin-bottom:10%;
  margin-right:35%;
  margin-left:39%;

}

.contactname
{
  height: 25px;
   width: 300px;
  border-radius:10px;
}

.contactemail
{
  height: 25px;
  width: 300px;
  border-radius:10px;
}

.contactphone
{
  height: 25px;
  width: 300px;
  border-radius:10px;
}

.contact
{
  align-items: center;
  display:flow-root;
  justify-content: center;
}

.body2 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code2 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.Contact__btn {
  font-size: 20px;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 90px;
  color: white;
  background-color: black;
  border-radius: 1rem;
  border: 10px solid hsl(0, 0%, 0%);
}

/* //////////////Contact/////////////// */

/* //////////////Policy/////////////// */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnPolicy {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cardPolicy {
  margin: 0;
}

.PolicyIntro {
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  border-radius: 25px;
  width: 70%;
  height: 33%;
}

.title {
  color: grey;
}

.buttoni {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttoni:hover {
  background-color: #555;
}


@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}

.Policy_container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: left;
  border-radius: 1rem;
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 5%;
  margin-bottom: 8%;
  padding: 0px;
  height : auto;
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 0%);
}

.Policy_h2{
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

/* //////////////Policy/////////////// */

/* //////////////about/////////////// */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnAboutDONA {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cardAboutDONA {
  text-align: center;
  margin: 8px;
}

.AboutPersonPic {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 3%;
}

.BottomMessageBar {

  position: fixed;
  bottom: 0px;
  padding: 5px;
  height: 15%;
  width: 100%;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.ButtomBarPic {
  width: 8rem;
  clip-path: circle(60px at center);
  float:left;
  margin-left: 1%;
  margin-top: 0.5%;
}

.h1_Message{
  float:left;
  margin-top: 7%;
  margin-left: -11.5%;
  font-size: 140%;
  font-style: italic;
}

.h2_Message{
  margin-top: 3%;
  margin-right: 10%;
  font-size: 250%;
  font-style: oblique;
}

.containerAboutDONA {
  margin-top: 15%;
  margin-left: 15%;
  background-color: white;
  padding: 2px;
  height : auto;
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 0%);
}

.containerAboutDONA::after, .rowAboutDONArow::after {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}

.titleAboutDONA {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}

.About_button {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background: rgb(86, 174, 233);
  cursor: pointer;
  border-radius: 1rem;
}

/* //////////////about/////////////// */

/* //////////////SiderBar/////////////// */

#header {
  position:fixed;
  width: 220px;
}
#header .pro-sidebar {
  height: 100vh;
  right: 10px;
}
#header .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
  margin-top: 30%;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #caced8;
  color: #000;
  border-radius: 3px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #caced8 0%, #caced8 100%);
  border-radius: 1rem;
  border: 1% solid hsl(0, 0%, 0%);
}
#header .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

.BigSideBarProfilePic {
  width: 8rem;
  clip-path: circle(50px at center);
  margin-left: 8%;
}

.SmallSideBarProfilePic {
  width: 6rem;
  clip-path: circle(30px at center);
  margin-left: -60%;
}

/* //////////////SiderBar/////////////// */

/* //////////////MyMeetings/////////////// */

.button_cancel{
  font-size: 25px;
  width: 100%;
}

.table_container {
  max-width: 750px;
  margin: 0 auto;
  overflow: auto;
}

.table {
  width: 95.8%;
  border-spacing: 0;
  margin-left: 4%;
}



caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
}

.table th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.table_row_green {
  background: greenyellow;
  font: bold;
}

.table_row_red {
  background: rgb(235, 172, 172);
  font: bold;
}

.table_row_grey {
  background: rgb(216, 216, 216);
  font: bold;
}

.table_row_white {
  background: rgb(243, 239, 239);
  font: bold;
}

.table th.up {
  background-image: url("./images/up_arrow.png");
}
.table th.down {
  background-image: url("./images/down_arrow.png");
}
.table th.default {
  background-image: url("./images/default.png");
}
th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.MeetingsCounter{
  text-align:"center";
  margin-left: 45%;
}

/* //////////////MeetingsSummary/////////////// */


.MeetingsSummary{
  width: 95.8%;
  border-spacing: 0;
  margin-left: 4%;
}

.MeetingsSummary_container {
  max-width: 750px;
  margin: 0 auto;
  overflow: auto;
}

.MeetingsSummary tbody tr:first-child td {
  border-top: none;
}



.MeetingsSummary td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.MeetingsSummary th.up {
  background-image: url("./images/up_arrow.png");
}
.MeetingsSummary th.down {
  background-image: url("./images/down_arrow.png");
}
.MeetingsSummary th.default {
  background-image: url("./images/default.png");
}

.MeetingsSummary th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}


/* //////////////MyMeetings/////////////// */

/* //////////////Admin/////////////// */

.Admin_btn
{
  margin-top: 3%;
  margin-left: 45%;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background: rgb(86, 174, 233);
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 0%);
}
/* //////////////Admin/////////////// */

/* //////////////Schedule/////////////// */

.schedule_form {
  color: rgb(236, 77, 77);
  font-style: bold;
  text-align: left;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: white;
  list-style-type: none;
  width: 30%;
  height: 1%;
  margin-top :5%;
  margin-bottom:1%;
  margin-right:35%;
  margin-left:39%;
}

.schedule__btn {
  font-size: 15px;
  font-style: bold;
  color: white;
  background-color: black;
  border-radius: 1rem;
  border: 10px solid hsl(0, 0%, 0%);
}

.schedule__btn2 {
  color: rgb(236, 77, 77);
  font-size: 15px;
  font-style: bold;
}

/* //////////////Schedule/////////////// */