body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.columnPolicy {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 1000px;
}

.cardPolicy {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    margin: 0;
}

.PolicyIntro {
    /*padding: 50px;*/
    /*text-align: center;*/
    /*background-color: #474e5d;*/
    /*color: white;*/

    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    border-radius: 25px;
    width: 70%;
    height: 33%;
}



.title {
    color: grey;
}



.buttoni {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.buttoni:hover {
    background-color: #555;
}


@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}